<%-  include('../partials/adminHeader.ejs')  %>

<div class="container mt-5">
    <h2>Admin Sign up</h2>
    <%- include('../partials/error.ejs') %>

    <form action="/admin/signup" method="POST" action="/signup" enctype="application/json">
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" name="username" placeholder="Username must be 3 or more characters">
        </div>
        <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter email">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Password must be 8 or more characters">
        </div>
        <button type="submit" class="btn btn-danger">Sign up</button>
    </form>
</div>

<%- include('../partials/footer.ejs') %>