<footer class="bg-light mt-auto">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <p>&copy; 2025 E-commerce App. All rights reserved, made by nih.</p>
      </div>
      <div class="col-md-6 text-right">
      </div>
    </div>
  </div>
</footer>
