<%- include('./partials/header') %>

<div class="container my-5">
    <h1 class="display-4">About Us</h1>
    <p class="lead">This is a simple e-commerce application built with Node.js, Express, MongoDB and EJS. It is a project for learning purposes and is not intended for real-world use.</p>
    <p>Want to know more about how it was built? Check out the source code on <a href="https://github.com/seifsheikhelarab/ecommerce-app">Github</a>.</p>
</div>

<%- include('./partials/footer') %>
