<%- include('./partials/header') %>

<div class="container">
    <h1>About Us</h1>
    <p>This is a simple ecommerce application built with Node.js, Express, MongoDB and EJS.</p>
    <p>It is a project for learning purposes and is not intended for real-world use.</p>
</div>

<%- include('./partials/footer') %>