<%- include('../partials/header.ejs') %>

<div class="container mt-5 text-center">
    <h2>Order Complete</h2>
    <p>Thank you for your purchase! Your order has been successfully processed.</p>
    <a href="/productlist" class="btn btn-primary mt-3">Continue Shopping</a>
</div>

<%- include('../partials/footer.ejs') %>
